<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Meow!</h1>

    <p>You are a good purrer <%= @user.username %>!</p>
    <p>You've successuly signed up! May the paw be with you!</p>
  </body>
</html>
